body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* #showcase {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.5);
} */

.pause_btn_div{
  display: flex;
  justify-content: center;
  align-content: center;
}

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
  
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}

#projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
}

.projects {
  width: 300px;
  margin: 1rem;
}

.projects_div {
  display: flex;
}

#projects_button {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  line-height: 40px;
  text-decoration: none;
  width: 110px;
  text-align: center;
  border-radius: 10px;
}

#projects_button:hover {
  background: #ddd;
  color: black;
}

.project img {
  width: 100%;
  height: auto;
}

#master_div {
  min-height: 100vh;
  padding-bottom: 3rem;
  box-sizing: border-box;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  position: relative;
  bottom: 0;
  width: 100%;
}

img {
  display: block;
  max-width: 180px;
  max-height: 180px;
  width: auto;
  height: auto;
}

.projects_thumbnail {
  border-radius: 20%;
  margin-left: 10%;
  padding: 2rem;
}

.game_thumbnail {
  border: 5px solid #555;
  border-radius: 20%;
  margin-left: 10%;
  padding: 2rem;
}

.aboutme_button_div {
  display: flex;
  justify-content: center;
}

.aboutme_div {
  flex-direction: column;
}

.aboutme_div h2 {
  text-align: center;
}

#aboutme_p {
  /*border: 5px black solid;*/
  margin-left: 20%;
  margin-right: 20%;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

#aboutme_button {
  background-color: black;
  color: white;
  display: block;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  width: 100px;
  text-align: center;
  border-radius: 10px;
}

#aboutme_button:hover{
  background: #ddd;
  color: black;
}

.home_button {
  color: white;
  text-decoration: none;
}

#projects_header {
  display: flex;
  justify-content: center;
  align-items: center;
}

#game_header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game_div {
  display: flex;
}

#game_button {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
  width: 110px;
  border-radius: 10px;
}

#game_button:hover{
  background: #ddd;
  color: black;
}

.description_div {
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}
