body {
  height:100;
  margin: 0%;
  background-color: #121212;
  color: #f5f5f5;
  font-family: 'Segoe UI', sans-serif;
}
.game_body {
  font-family: Arial, sans-serif;
  background-color: #000;
  margin: 0;
  padding: 0;
  background: url('images/arcade_floorbg.jpg') no-repeat center center/cover;
  background-attachment: fixed;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.fade-in-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 3.6s ease-out, transform 1.6s ease-out;
}


.fade-in-section.is-visible {
  opacity: 1;
  transform: translateY(0);
}

#landingpage_div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem 2rem; /* top, sides, bottom */
  margin-top: 4rem; /* space below navbar */
  color: white;
  text-align: center;
  flex-direction: column;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
 .landingpage_p{
  margin-left: 20%;
  margin-right: 20%;
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
 }
 
.project_showcase_div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  min-height: 60vh; /* allows it to grow if content increases */
  padding: 1rem 1rem; /* consistent top/bottom and side spacing */
  padding-bottom: 0.5rem;
  margin: 0;
  color: white;
  text-align: center;
  box-sizing: border-box;

}


.showcase_div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  min-height: 80vh; /* allows it to grow if content increases */
  padding: 1rem 1rem; /* consistent top/bottom and side spacing */
  
  color: white;
  text-align: center;
  box-sizing: border-box;

}
.arcade_bg {
  /* flex: 1;
  width: 100%;
  height: auto; */
  width: 80vw;
  height: 80vh;
  background: url('images/arcade_bg.png') no-repeat center center;
  background-size: contain;
  margin: 0 auto;
  z-index: 1;
}
#project_showcase {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width:38vw;
  height: 48vh; */
  width: 100%;
  max-width: 599px;
  aspect-ratio: 16/9;
  object-fit: cover;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
} 
#showcase {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width:38vw;
  height: 48vh; */
  width: 100%;
  max-width: 599px;
  aspect-ratio: 16/9;
  object-fit: cover;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
} 

.pause_btn_div{
  display: flex;
  justify-content: center;
  align-content: center;
}

#myBtn {
  width: 15%;
  max-width: 200px;
  font-size: 1.2rem;
  padding: .8rem;
  border-radius: 1rem;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
  
}

header {
  background-color: black;
  color: white;
  text-align: center;
  padding: 1rem;
}

header nav {
  margin-top: 1rem;
}

header nav a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
  font-size: 1.2rem;
}

header nav a:hover {
  color: #ddd;
}

#projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
}

.projects {
  width: 20%;
  max-width: 300px;
  margin: 1rem;
}

.projects_div {
  display: flex;
}

#Link_p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem 2rem; /* top, sides, bottom */
  margin-top: 4rem; /* space below navbar */
  color: white;
  text-align: center;
  flex-direction: column;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;



  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

#projects_button {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  line-height: 100%;
  text-decoration: none;
  width: 10vw;
  max-width: 150px;
  text-align: center;
  border-radius: 0.6rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}

#projects_button:hover {
  background: #ddd;
  color: black;
}

.project img {
  width: 100%;
  height: auto;
}

#master_div {
  min-height: 100vh;
  padding-bottom: 1rem;
  box-sizing: border-box;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 1rem;
  /* position: relative;
  bottom: 0;
  width: 100%; */
}

img {
  display: block;
  max-width: 180px;
  max-height: 180px;
  width: auto;
  height: auto;
}

.projects_thumbnail {
  border-radius: 20%;
  margin-left: 10%;
  padding: 2rem;
}

.game_thumbnail {
  border: 5px solid #555;
  border-radius: 20%;
  margin-left: 10%;
  padding: 2rem;
}

.aboutme_button_div {
  display: flex;
  justify-content: center;
}

.aboutme_div {
  flex-direction: column;
}

.aboutme_div h2 {
  text-align: center;
}

#aboutme_p {
  /*border: 5px black solid;*/
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem 2rem; /* top, sides, bottom */
  margin-top: 4rem; /* space below navbar */
  color: black;
  text-align: center;
  flex-direction: column;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;


  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

#aboutme_button {
  background-color: black;
  color: white;
  display: block;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  width: 100px;
  text-align: center;
  border-radius: 10px;
}

#aboutme_button:hover{
  background: #ddd;
  color: black;
}

.home_button {
  color: white;
  text-decoration: none;
}

#projects_header {
  display: flex;
  justify-content: center;
  align-items: center;
}

#game_header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game_div {
  display: flex;
}

#game_button {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
  width: 110px;
  border-radius: 10px;
}

#game_button:hover{
  background: #ddd;
  color: black;
}

.description_div {
  background-color: #f8f8f8;
  color: black;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}
